html,
body {
  padding: 0;
  margin: 0;
  font-family: "Dosis", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.title-carousel {
  max-width: 270px;
  background-color: rgba(255, 255, 255, 0.3);
}
.bi-star-fill {
  color: #d9354f;
}

.accordion-button::before {
  content: "+";
  background-color: black;
  padding-bottom: 3px;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-button[aria-expanded="true"]::before {
  content: "-";
  background-color: #d9354f;
  padding-bottom: 2px;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-button[aria-expanded="true"] {
  color: #d9354f !important;
  font-weight: bold;
}
.accordion-button[aria-expanded="false"] {
  color: black !important;
  font-weight: bold;
}
.accordion-button {
  color: #d9354f !important;
  font-weight: bold;
  font-size: 0.5em !important;
}

.accordion-button.collapsed::after {
  display: none !important;
}
.accordion-button::after {
  display: none !important;
}
