.bg {
  background-color: #d9354f !important;
  border: none;
}

.active {
  color: black !important;
}

.active::after {
  content: "";
  display: block;
  background-color: black;
  height: 3px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.title {
  color: #d9354f;
}
.title::after {
  content: "";
  display: block;
  background-color: #d9354f;
  height: 3px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0px;
}
.infos {
  color: #d9354f;
  opacity: 0.8;
  cursor: pointer;
}
.bouton {
  background-color: #d9354f !important;
  color: white;
  border: none;
}
.bouton:hover {
  filter: brightness(1.2);
}
